#!/usr/bin/env bash

<<COMMENT
This is configuration script and It is useless without server script.
Though the script name has .cfg extension, this is a BASH script.
So while editing any variable, keep this thing in mind and follow standard BASH syntax.
COMMENT

function max_worker {
    cpu_count=$(grep -c ^processor /proc/cpuinfo);
    max_worker=$(($cpu_count * 2 + 1));
}

# Gunicorn bind IP
BIND_IP='127.0.0.1'

# Main gunicorn port
PORT=9090

# Gunicorn configuration
# Use WORKERS=$max_worker for best result according to gunicorn website
WORKERS=10
WORKER_CLASS='gevent'
