{% load staticfiles %}
<html>
  <head>
      <link rel="stylesheet" href="{% static 'web/bootstrap-3.3.7/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'web/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">
  <style type="text/css">

    {
        height: 100%;
    }
    body 
    {
        height: 100%;
        margin: 0;
        padding: 0;
    }
#map-canvas {
        height: 100%;
}
#iw_container .iw_title {
        font-size: 16px;
            font-weight: bold;
}

.iw_content {
        padding: 15px 15px 15px 0;
}

  </style>

        <meta charset="utf-8">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="{% static 'web/js/markerclusterer.js' %}"></script>
        <script type="text/javascript" src="{% static 'web/js/map.js' %}"></script>
    
</head>
        <body>

        <div id="map-canvas" style="width:1920px; height:1080px;"/>
        <script src="{% static 'web/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
        </body>
</html>

