{% extends 'web/base.html' %}
{% load staticfiles %}

{% block data %}
{% endblock %}

{% block draw_map %}
    <script type="text/javascript">
        var map;
        var infoWin;
        var markerCluster;
        var Constants = {
            anchor_lat: 9.09023,
            anchor_lon: 72.786138,
            incr_lat: 0.001,
            incr_lon: 0.001
        };

        var lineSymbol = {
            path: 'M 0,-1 0,1',
            strokeOpacity: 1,
            scale: 4
        };
        var lines = []
        function plotHorizontalLines() {
            for (var i = 0; i < 15000; i++) {
                var y = Constants.anchor_lat + i * Constants.incr_lat;
                var path = [
                    {
                        lat: y,
                        lng: Constants.anchor_lon - 1
                    },
                    {
                        lat: y,
                        lng: Constants.anchor_lon + 2
                    }
                ];
                var line = new google.maps.Polyline({
                    path: path,
                    strokeOpacity: 0,
                    icons: [{
                        icon: lineSymbol,
                        offset: '0',
                        repeat: '20px'
                    }],
                    map: map
                });
                lines.push(line)
            }
        }
        function plotVerticalLines() {

            for (var i = 0; i < 1000; i++) {
                var x = Constants.anchor_lon + i * Constants.incr_lon;
                var path = [
                    {
                        lat: Constants.anchor_lat,
                        lng: x
                    },
                    {
                        lat: Constants.anchor_lat + 12,
                        lng: x
                    }
                ];
                var line = new google.maps.Polyline({
                    path: path,
                    strokeOpacity: 0,
                    icons: [{
                        icon: lineSymbol,
                        offset: '0',
                        repeat: '20px'
                    }],
                    map: map
                });
                lines.push(line)
            }
        }
        function clearLines() {
            for (var i = 0; i < lines.length; i++) {
                lines[i].setMap(null);
            }
            lines = [];
        }

        var totalMarkers = 0;
        function get_potholeclusters(i) {

            var styleIconClass = new StyledIcon(
                StyledIconTypes.CLASS, {color: "#00bfff"}
            );

            $.get("/api/clusters?range=" + i, function (clusters) {
                {#                console.log(i, clusters)#}
                var markers = clusters.map(function (elem, index) {
                    var latLng = new google.maps.LatLng(
                        elem.center_lat, elem.center_lon
                    );

                    var direction = getDirectionText(elem.bearing);

                    var marker = new StyledMarker({
                        styleIcon: new StyledIcon(
                            StyledIconTypes.MARKER,
                            {text: direction},
                            styleIconClass
                        ),
                        position: latLng,
                        scale: 2
                    });

                    google.maps.event.addListener(
                        marker, 'click', function (evt) {
                            var content =
                                "<b>grid_id :</b><a href='" + elem.grid_id + "'>" + elem.grid_id + "</a>" + "<br>" +
                                "<b>size : </b>" + elem.size + "<br>" +
                                "<b>bearing : </b>" + elem.bearing + "<br>";
                            infoWin.setContent(content);
                            infoWin.open(map, marker);
                        });

                    return marker;
                });

                totalMarkers += markers.length;
                $("h2").text("Pothole/Bump counter after clustering(kmeans)" + totalMarkers)
                markerCluster.addMarkers(markers, true);
            });
        }
        function initialize() {
            var center = new google.maps.LatLng(19.0760, 72.8777);

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scaleControl: true
            });
            infoWin = new google.maps.InfoWindow();
            var options = {
                imagePath: '{% static "web/js/markerclusterer/images/m" %}',
                maxZoom: 17
            };
            var markers = [];
            markerCluster = new MarkerClusterer(map, markers, options);

            $.get('/api/clusters?count', function (data) {
                console.log(data);
                var n = data[0].count;
                for (var i = 0; i <= Math.floor(n / 1000); i++) {
                    get_potholeclusters(i);
                }
            });
            plotHorizontalLines();
            plotVerticalLines();
        }

        function showGroundTruthPotholes() {

            var styleIconClass = new StyledIcon(
                StyledIconTypes.CLASS, {color: "#CD2121"}
            );

            $.get("/api/groundtruthpotholes/", function (groundTruthPothole) {
                {#                console.log(i, clusters)#}
                var markers = groundTruthPothole.map(function (elem, index) {
                    var latLng = new google.maps.LatLng(
                        elem.latitude, elem.longitude
                    );


                    var marker = new StyledMarker({
                        styleIcon: new StyledIcon(
                            StyledIconTypes.MARKER,
                            {text: "P"},
                            styleIconClass
                        ),
                        position: latLng,
                        scale: 2
                    });

                    google.maps.event.addListener(
                        marker, 'click', function (evt) {
                            var content =
                                "<b>description : </b>" + elem.description + "<br>" +
                                "<b>reported date : </b>" + elem.reported_date + "<br>";
                            infoWin.setContent(content);
                            infoWin.open(map, marker);
                        });

                    return marker;
                });

                markerCluster.addMarkers(markers, true);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block heading %}
    <script type="text/javascript">
        $('input:checkbox#clear').change(
            function () {
                if ($(this).is(':checked')) {
                    clearLines();
                } else {
                    plotHorizontalLines();
                    plotVerticalLines();
                }
                console.log($(this))
            });
        $('input:checkbox#groundtruth').change(
            function () {
                if ($(this).is(':checked')) {
                    showGroundTruthPotholes();
                } else {
                    {#                    hideGroundTruthPotholes()#}
                }
                {#                console.log($(this))#}
            });
    </script>
    hello
{% endblock %}

